<h1>Bibipedia</h1>

<ul>
  <% @articles.each do |article| %>
    <li> <%= article.title %> <br>
        <%= article.content.truncate_words(5) %>
    <%= link_to "Read article", article_path(article) %>
    </li>
  <% end %>
</ul>

<%= link_to "Write an article", new_article_path %>
